<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
</head>
<body ng-app="demo">
<hr/>
	<div class="container" ng-controller="MovieController">
		
	    <h2>Movies</h2>
		<div class="body">
		
		
		  <table ng-table="tableParams" class="table" show-filter="false">
		    <tr ng-repeat="item in allMovies" style="text-align: center;">
		      <td title="'Name'" filter="{ name: 'text'}" style="text-align: left;">
		        {{item.name}}</td>
		      <td title="'Likes'" filter="{ likes: 'number'}" >
		        {{item.likes}}</td>
		      <td>
		        <button ng-click="likeMovie(item)" class="btn btn-sm btn-info">Like</button>	
		       </td>
		       <td filter="{ likes: 'number'}" >
				<button ng-click="deleteMovie(item)" class="btn btn-sm btn-info">Delete</button>		
			   </td>
		    </tr>
		  </table>
		</div>
		<hr/>
		
		<h2>Add a movie</h2>
		<div class="body">
	        <span>Movie</span> <input type="text" ng-model="movieDto.name" class="input-sm spacing"/>
	        <button ng-click="saveMovie()" class="btn btn-sm btn-info">Save</button>
	    </div>
	    
	    
	</div>

<!-- <div class="container" ng-controller="UserController"> -->
<!--     <div class="row"> -->
<!--         <label>User</label> <input type="text" ng-model="userDto.userName" class="input-sm spacing"/> -->
<!--         <label>Skills</label> <input type="text" ng-model="skills" ng-list class="input-sm custom-width spacing" -->
<!--                                      placeholder="use comma to separate skills"/> -->
<!--         <button ng-click="saveUser()" class="btn btn-sm btn-info">Save User</button> -->
<!--     </div> -->
<!--     <hr/> -->
<!--     <div class="row"> -->
<!--         <p>{{allUsers | json}}</p> -->
<!--     </div> -->
<!--     <hr/> -->
<!--     <div class="row" ng-repeat="user in allUsers"> -->
<!--         <div class=""> -->
<!--             <h3>{{user.userName}}</h3> -->
<!--             <span ng-repeat="skill in user.skillDtos" class="spacing">{{skill.skillName}}</span> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->
</body>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ng-table.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/UserController.js"></script>
<script src="js/app/UserService.js"></script>
<script src="js/app/MovieController.js"></script>
<script src="js/app/MovieService.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/lib/ng-table.css"/>
<link rel="stylesheet" href="css/app/app.css"/>

</html>